__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/
MANIFEST

# mypy / type checkers
.mypy_cache/
.pytype/
/storage/
